/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/09/2016, 10:39:54 AM
    Author     : SMARTINEZ
*/

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    font-weight: 100;
    font-family: "Helvetica", Arial, sans-serif;    
}

.container-fluid{
    padding: 0 !important;
}

/*css header and footer*/

.navbar-Tedx a { 
    color: white; 
    z-index: 100;
}

.navbar-Tedx ul li a:hover,
.navbar-Tedx ul li a:focus  
{ 
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: #fff;
    background: black;
}
.txtRed{color: red;}
.txtcopy{color: white}
.clear-top{
    padding: 2.5% 6% 0 0;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
} 

.linkPie{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.linkPie:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: #fff;
}
/*fin css header and footer*/

/******Ponentes*/

.thumbnail {
    position:relative;
    overflow:hidden;
    padding: 0;
    border: 0;
    height: 170px;
    width: 170px;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.redPonentes{
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}
.redPonentes:hover{
    cursor: pointer;
    color: white;
    text-decoration: none !important;
}

#ponentes{
    background: url(../images/backponentes.jpg);
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
}
.textBlanco{
    color: white;
}
/*end ponentes*/

/*que es videos*/
.bottom-align-text {
    color: white;
    /*background: rgba(0,0,0,0.7);*/

}

#videos{
    background: url(../images/backvideos.jpg);
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
}
/*end que es videos*/



/*organizadores*/
#organizadores{
    background-color: #101010;
}
.plecaorganizadores{
    margin-top: -145%;
}
/*end organizadores*/