.contactanos{
    background: url(../images/BACK_CONTACTO.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: grey;
}

.contactanos input,
.contactanos textarea{
    width: 100%;
    font-weight: bold;
    color: black;
}

.contactanos input::-webkit-input-placeholder { color: black; font-weight :lighter; }
.contactanos input::-moz-placeholder { color: black; font-weight: lighter; }
.contactanos input::-moz-placeholder { color: black; font-weight: lighter; }
.contactanos input::-ms-input-placeholder { color: black; font-weight: lighter; }

.contactanos .enviar{
    width: 40%;
    color: white;
}

.contactanos form{
    margin-top: 15%;
}


.delimitador{
    width:100%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10%;
}
.contenedor{
    height:0px;
    width:100%;
    padding-top:56.25%;
    position:relative;
}
.contenedor iframe{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}
.player{
    background: url(../images/foto_header.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: grey;
}

.player p{
    color: #EBEBEB;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.player .box-shadow{
    background-color: rgba(0,0,0,0.5);
}

.row .clock{
    width: 630px;
    margin: 0% auto;
}


@media screen and (max-width: 991px){
    .delimitador{
        margin-top: 13%;
    }
}

@media screen and (max-width: 767px){
    .delimitador{
        margin-top: 15%;
    }

    .row .clock{
        width: 470px;
    }

    .caja-clock{
        margin: 50px auto;
    }

    .caja-clock p{
        font-size: 14px;
    }
}


/*Seccion de programa*/
a.bloque:link{
    text-decoration:none;
}

a.bloque{
    color: #000000;
}

a.bloque:hover{
    color: red;
}

a.bloque.active{
    color: red;
}

.programa tr:nth-child(even){
    background-color: #E1E1E1;
}

.programa tr:nth-child(odd){
    background-color: #EBEBEB;
}

.programa{
    margin-top: 5%;
}

.caja-foto{
    width: 15%;
}

.caja-info{
    width: 85%;
    padding-left: 3%;
}

.caja-foto,
.caja-info,
.caja-nombre{
    float: left;
}

.caja-horario{
    float: right;
    width: 30%;
}

.caja-nombre{
    width: 70%;
}

.img-foto{
    width: 100%;
    padding-bottom: 10%;
}

.caja-programa{
    margin-top: 8%;
}

.caja{
    padding: 3%;
}

.caja-nombre,
.caja-horario{
    padding-top: 2%;
}

#programa{
    padding: 3% 0;  
}

.borde{
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
    padding-bottom: 0%;
}

.active .borde div{
    border-bottom: solid 4px red;
}

.caja-clock{
    margin: 20% auto;
}

.caja-clock p{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: lighter;
}

@media screen and (max-width: 767px){
    .caja-clock{
        margin: 50px auto;
    }

    .caja-clock p{
        font-size: 30px;
        margin-bottom: 30px;
    }
}