/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/09/2016, 10:39:54 AM
    Author     : SMARTINEZ
*/

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    font-weight: 100;
    font-family: "Helvetica", Arial, sans-serif;    
}

.container-fluid{
    padding: 0 !important;
}

/*css header and footer*/
.navbar-Tedx{
    background-color: rgba(0,0,0,.7); 
    height: 84px;
    border:0px;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(0,0,0,.2) !important; 
}

.imgTedx{
    position: relative; top:-10px;
}

.navbar-Tedx a { 
    color: white; 
    z-index: 100;
}
.text-menu{
    padding-top: 1.2%;
}

.navbar-Tedx ul li a:hover,
.navbar-Tedx ul li a:focus  
{ 
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: #fff;
    background: black;    
}
.txtRed{color: red;}
.txtcopy{color: white}
.clear-top{
    padding: 5% 6% 0 0;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    /*padding-bottom:50px;  this needs to be bigger than footer height*/
}

.footer {
    /*position: relative;*/
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
} 

.linkPie{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.linkPie:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: #fff;
}

@media all and (max-width: 375px){
    .imgTedx{
        margin-top: -20%;
        top: -20%;
        width: 60%;
    }
    .navbar-Tedx{
        height: 50px;
    }
}
@media all and (max-width: 768px){
    .imgTedx{
        width: 70%;
    }
    .navbar-Tedx{
        height: 60px;
    }
}
/*fin css header and footer*/


/******Ponentes*/

.thumbnail {
    position:relative;
    overflow:hidden;
    padding: 0;
    border: 0;
    height: 170px;
    width: 170px;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.redPonentes{
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}
.redPonentes:hover{
    cursor: pointer;
    color: white;
    text-decoration: none !important;
}

#ponentes{
    background: url(../images/backponentes.jpg);
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
}
#ponentes h3{
    margin-top: 10%;
}

.textBlanco{
    color: white;
}
/*end ponentes*/

/*que es videos*/
.bottom-align-text {
    color: white;
    font-weight: bold;
    /*background: rgba(0,0,0,0.7);*/

}

#videos{
    background: url(../images/backvideos.jpg);
    background-position: 20% 0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/*end que es videos*/



/*organizadores*/
#organizadores{
    background-color: #101010;    
}
#organizadores h3{
    z-index: 2; 
    position: absolute;    
    margin-left: 40%;
    margin-top: 10%;
}
@media all and (max-width: 425px){
    #organizadores h3{
        margin-left: 15%;
    }
}
@media all and (max-width: 768px){
 #organizadores h3{
        margin-left: 30%;
        margin-top: 12%;
        font-size: 20px;
    }
}
@media all and (max-width: 375px){

    #organizadores h3{
        margin-left: 22%;
        margin-top: 18%;
        font-size: 15px;
    }
}
/*end organizadores*/

/*inicia que es */
#quees{
    padding: 3%;
}
/*fin de que es*/




.cuerpoPagina{
    position: relative; 
    top:30px; 
    overflow: hidden;
}

/*galeria*/
#galeria{ background-color: #101010;}
/*fin galería*/