/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/09/2016, 10:39:54 AM
    Author     : SMARTINEZ
*/

html, body {
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: "Helvetica", Arial, sans-serif;    
}

/*css header and footer*/

.navbar-Tedx a { 
    color: white; 
    z-index: 100;
}

.navbar-Tedx ul li a:hover,
.navbar-Tedx ul li a:focus  
{ 
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: #fff;
    background: black;
}
.txtRed{color: red;}
.txtcopy{color: white}
.clear-top{
    padding: 2.5% 6% 0 0;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
} 

/*fin css header and footer*/

/******Ponentes*/

.thumbnail {
    position:relative;
    overflow:hidden;
    padding: 0;
    border: 0;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.redPonentes{
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}
.redPonentes:hover{
    cursor: pointer;
    color: white;
    text-decoration: none !important;
}
.nombreponente{
    background: black;
}

/*end ponentes*/

/*que es videos*/
.bottom-align-text {

}

.backVideos{
    background: url(../images/backvideos.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    color: white;
    text-align: center;
}
.backVideos div{
    padding: 0;
}
/*end que es videos*/



/*organizadores*/
.backorganiza{
    background: url(../images/organizadores.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    position: initial
}

.plecaorganizadores{
    margin-top: -145%;
}
/*end organizadores*/