	.posicionaIzq{
		position: relative;
		left: -5%;
	}
	.posicionaIzqSeg{
		position: relative;
		left: -10%;
	}
	.fotos1{
		 width:90%;
	}
	.fotos2{
		width:103%;
	}
	.fotos3{
		 width:95%;
	}
	.fotos4{
		width:93%;
	}
	.fotos5{
		width:105%;
	}